*{
margin:0;
padding:0;
}
svg #flask {
    fill: #fe7f7f;
    fill-opacity: 1;
}
svg #atom {
    fill: #fe9854; 
    fill-opacity: 1;
}
svg #phage {
    fill: #a9dd87;
    fill-opacity: 1;
}
svg #logo_text {
    fill: #07b2de;
    animation: appear 0.5s ease forwards;
}
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
