*{
margin:0;
padding:0;
}
svg #flask {
    fill: #fe7f7f;
    fill-opacity: 1;
}
svg #atom {
    fill: #fe9854; 
    fill-opacity: 0;
    transform-origin: 55% 45%;
    animation: atom 2s linear;
    animation-delay: 1.8s;
}
svg #phage {
    fill: #a9dd87;
    fill-opacity: 0;
}
svg #logo_text {
    fill: #07b2de;
    fill-opacity: 0;
    animation: appear 0.5s ease forwards;
    animation-delay: 5s;
}

@keyframes atom {
    from{
        transform: rotate(0deg);
        fill-opacity: 0;
    }
    to{
        transform: rotate(360deg);
        fill-opacity: 1;
    }
}
@keyframes appear {
    from{
        fill-opacity: 0;
    }
    to{
        fill-opacity: 1;
    }
}
