svg #flask {
    fill: #fe7f7f;
    fill-opacity: 1;
}
svg #atom {
    fill: #fe9854; 
    fill-opacity: 1;
}
svg #phage {
    fill: #a9dd87;
    fill-opacity: 1;
}
svg #logo_text {
    fill: #07b2de;
    fill-opacity: 1;
}
